TestClient/Service References/BookService/BookService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookDatabase.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookDatabase.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
</xs:schema>