DesktopApplication/Service References/BookService/BookService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BookDatabase.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookDatabase.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BookService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:ArrayOfCategory" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OriginalTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Writer" nillable="true" type="tns:ArrayOfWriter" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfBook" />
      <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfCategory" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:Category" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfPaperBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaperBook" nillable="true" type="tns:PaperBook" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaperBook" nillable="true" type="tns:ArrayOfPaperBook" />
  <xs:complexType name="PaperBook">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Book">
        <xs:sequence>
          <xs:element minOccurs="0" name="Copies" nillable="true" type="tns:ArrayOfBookItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaperBook" nillable="true" type="tns:PaperBook" />
  <xs:complexType name="ArrayOfBookItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookItem" nillable="true" type="tns:BookItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookItem" nillable="true" type="tns:ArrayOfBookItem" />
  <xs:complexType name="BookItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookData" nillable="true" type="tns:PaperBook" />
      <xs:element minOccurs="0" name="BookStateEntries" nillable="true" type="tns:ArrayOfBookStateEntry" />
      <xs:element minOccurs="0" name="Bought" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Condition" type="tns:BookCondition" />
      <xs:element minOccurs="0" name="CurrentState" type="tns:BookStates" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BookItem" nillable="true" type="tns:BookItem" />
  <xs:complexType name="ArrayOfBookStateEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookStateEntry" nillable="true" type="tns:BookStateEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookStateEntry" nillable="true" type="tns:ArrayOfBookStateEntry" />
  <xs:complexType name="BookStateEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookItem" nillable="true" type="tns:BookItem" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Member" nillable="true" type="tns:Member" />
      <xs:element minOccurs="0" name="Type" type="tns:BookStateEntryType" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BookStateEntry" nillable="true" type="tns:BookStateEntry" />
  <xs:complexType name="Member">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookStates" nillable="true" type="tns:ArrayOfBookStateEntry" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registration" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Member" nillable="true" type="tns:Member" />
  <xs:complexType name="Writer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfBook" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Writer" nillable="true" type="tns:Writer" />
  <xs:complexType name="EBook">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Book">
        <xs:sequence>
          <xs:element minOccurs="0" name="Downloadable" type="xs:boolean" />
          <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EBook" nillable="true" type="tns:EBook" />
  <xs:complexType name="ArrayOfWriter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Writer" nillable="true" type="tns:Writer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWriter" nillable="true" type="tns:ArrayOfWriter" />
  <xs:complexType name="ArrayOfEBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EBook" nillable="true" type="tns:EBook" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEBook" nillable="true" type="tns:ArrayOfEBook" />
  <xs:simpleType name="BookCondition">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="New">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Good">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Bad">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="VeryBad">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="BookCondition" nillable="true" type="tns:BookCondition" />
  <xs:simpleType name="BookStateEntryType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Borrow">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Back">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="BookStateEntryType" nillable="true" type="tns:BookStateEntryType" />
  <xs:simpleType name="BookStates">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Free">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Rent">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Expired">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="BookStates" nillable="true" type="tns:BookStates" />
  <xs:complexType name="ArrayOfMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Member" nillable="true" type="tns:Member" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMember" nillable="true" type="tns:ArrayOfMember" />
</xs:schema>